<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/img/favicon.png">
    <link rel="stylesheet" href="../assets/css/item.css"></link>
    <title>Dez's Works Collection Demo</title>
  </head>
  <body>

    <h1 id="header">
      <a href="../index.html">
        Dez | 網頁開發練習與作品集
      </a>
    </h1>
    <hr class="divider">
    <div class="container">
      <div class="breadcrumb">
        <h3>jQuery | LoL Streams on Twitch</h3>
      </div>
      <div class="banner" style="background-image: url(../assets/img/twitch.png)"></div>
      <div class="content">
        <ul>
          <li>作品連結</li>
            <ul>
              <li>
                <a href="https://dezchuang.github.io/frontend-intermediate-course/answers/hw10/index.html">
                  https://dezchuang.github.io/frontend-intermediate-course/answers/hw10/index.html
                </a>
              </li>
            </ul>
          <br>
          <li>作品介紹</li>
            <p>
              此課程為Huli在PTT Soft_Job版提供的<a href="https://www.ptt.cc/bbs/Soft_Job/M.1488469002.A.E34.html">免費教學</a>，跟著課程加強當初自學前端技術不足的許多觀念(如Flexbox, SASS, jQuery, AJAX, i18n, Webpack, Gulp等等)。
            </p>
            <p>
              本作品為利用Twitch API來實作一個即時的英雄聯盟(LoL)實況清單，從零到有不使用CSS library，從切版到串API拿資料、新增onload transition與infinite scroll、將jQuery全部使用VanillaJS取代的練習、i18n國際化功能、到最近完成的Webpack與Gulp打包，完整地練習real world的網站架構與效能的優化。
            </p>
          <br>
          <li>使用技術</li>
            <ul>
              <li>HTML</li>
              <li>CSS(SASS/Flexbox)</li>
              <li>Javascript(jQuery/VanillaJS)</li>
              <li>AJAX</li>
              <li>i18n</li>
              <li>Webpack</li>
              <li>Gulp</li>
              <li>ESLint</li>
            </ul>
          <br>
          <li>原始碼</li>
            <ul>
              <li>
                <a href="https://github.com/DezChuang/frontend-intermediate-course/tree/master/answers/hw10" target="_blank">
                  https://github.com/DezChuang/frontend-intermediate-course/tree/master/answers/hw10
                </a>
              </li>
            </ul>
        </ul>
      </div>
      <a id="goback" href="../index.html">Go back</a>
    </div>
    <div class="footer">
      <ul>
        <li>
          <a class="icon" href="mailto:dissaivent@gmail.com" target="_blank">
            <img src="../assets/img/icons/mail.png">
          </a>
        </li>
        <li>
          <a class="icon" href="http://github.com/DezChuang" target="_blank">
            <img src="../assets/img/icons/github.png">
          </a>
        </li>
        <li>
          <a class="icon" href="http://www.linkedin.com/in/dezchuang/" target="_blank">
            <img src="../assets/img/icons/linkedin.png">
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>