<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/img/favicon.png">
    <link rel="stylesheet" href="../assets/css/item.css"></link>
    <title>Dez's Works Collection Demo</title>
  </head>
  <body>

    <h1 id="header">
      <a href="../index.html">
        Dez | 網頁開發練習與作品集
      </a>
    </h1>
    <hr class="divider">
    <div class="container">
      <div class="breadcrumb">
        <h3>Redux | City Weather Fetch App</h3>
      </div>
      <div class="banner" style="background-image: url(../assets/img/redux_03.png)"></div>
      <div class="content">
        <ul>
          <li>作品連結</li>
            <ul>
              <li>
                <a href="https://github.com/DezChuang/web-dev-practice-demo/tree/master/Frontend/React/ReduxCourse/03_WeatherFetch/">
                  https://github.com/DezChuang/web-dev-practice-demo/tree/master/Frontend/React/ReduxCourse/03_WeatherFetch/
                </a>
              </li>
            </ul>
          <br>
          <li>作品介紹</li>
            <p>在Udemy上買的第二堂React課程，主要就是想補強Redux的知識與實作。</p>
            <p>暫無deploy，僅以圖片展示。此作品能根據搜尋城市關鍵字，並分別列出城市google map與相關氣候資料圖表，是個利用API實作整個Redux flow的練習。</p>
            <img src="http://g.recordit.co/7fAxkEwNDk.gif">
            <p>詳細的Redux flow如下：</p>
            <img src="../assets/img/redux_03_flow.png">
          <br>
          <li>使用技術</li>
            <ul>
              <li>React</li>
              <li>Redux</li>
              <li>
                <a href="https://openweathermap.org/api" target="_blank">
                  Open Weather Map API
                </a>
              </li>
            </ul>
          <br>
          <li>參考</li>
            <ul>
              <li>
                <a href="https://www.udemy.com/react-redux/" target="_blank">
                  Stephen Grider - Modern React with Redux
                </a>
              </li>
            </ul>
        </ul>
      </div>
      <a id="goback" href="../index.html">Go back</a>
    </div>
    <div class="footer">
      <ul>
        <li>
          <a class="icon" href="mailto:dissaivent@gmail.com" target="_blank">
            <img src="../assets/img/icons/mail.png">
          </a>
        </li>
        <li>
          <a class="icon" href="http://github.com/DezChuang" target="_blank">
            <img src="../assets/img/icons/github.png">
          </a>
        </li>
        <li>
          <a class="icon" href="http://www.linkedin.com/in/dezchuang/" target="_blank">
            <img src="../assets/img/icons/linkedin.png">
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>