<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/img/favicon.png">
    <link rel="stylesheet" href="../assets/css/item.css"></link>
    <title>Dez's Works Collection Demo</title>
  </head>
  <body>

    <h1 id="header">
      <a href="../index.html">
        Dez | 網頁開發練習與作品集
      </a>
    </h1>
    <hr class="divider">
    <div class="container">
      <div class="breadcrumb">
        <h3>Paper.js | Patatap Game</h3>
      </div>
      <div class="banner" style="background-image: url(../assets/img/patatap.png)"></div>
      <div class="content">
        <ul>
          <li>作品連結</li>
            <ul>
              <li>
                <a href="https://codepen.io/dezchuang/project/editor/DQWpGX/#0">
                  https://codepen.io/dezchuang/project/editor/DQWpGX/#0
                </a>
              </li>
            </ul>
          <br>
          <li>作品介紹</li>
            <p>2016年底初學網頁技術時的練習，透過paper.js模仿實作Patatap的音樂小遊戲。</p>
            <p>透過敲打電腦鍵盤可以發出各種節奏與音樂，但Codepen免費用戶無法上傳音樂檔，demo中敲擊鍵盤只能看到圖示，實際效果如<a href="http://patatap.com/" target="_blank">Patatap</a>。</p>
          <br>
          <li>使用技術</li>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>
                <a href="http://paperjs.org/" target="_blank">
                  Paper.js
                </a>
              </li>
            </ul>
          <br>
          <li>參考</li>
            <ul>
              <li>
                <a href="http://www.udemy.com/the-web-developer-bootcamp/" target="_blank">
                  Colt Steele - The Web Developer Bootcamp
                </a>
              </li>
            </ul>
        </ul>
      </div>
      <a id="goback" href="../index.html">Go back</a>
    </div>
    <div class="footer">
      <ul>
        <li>
          <a class="icon" href="mailto:dissaivent@gmail.com" target="_blank">
            <img src="../assets/img/icons/mail.png">
          </a>
        </li>
        <li>
          <a class="icon" href="http://github.com/DezChuang" target="_blank">
            <img src="../assets/img/icons/github.png">
          </a>
        </li>
        <li>
          <a class="icon" href="http://www.linkedin.com/in/dezchuang/" target="_blank">
            <img src="../assets/img/icons/linkedin.png">
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>